#countlabel{
    display: block;
    text-align: center;
    font-size: 10rem;
    font-family:  helvetica;
}
#btncontainer{
    text-align: center;
}
.button{
    padding: 10px 20px;
    font: 1.5rem;
    background-color: pink;
    color: rgb(0, 0, 0);
}
body{
    background: #8d19b0;
}